{% extends "base.html" %}
{%block contenido%}
{% load static %}


{%if form != ' '%}
    <div class="px-4 py-5 my-5 text-center">
        
        <img class="d-block mx-auto mb-4" src="{% static '/img/turno.png' %}" alt="" width="82" height="67">
        <h3 class="display-6 fw-bold text-body-emphasis">¿Que desea hacer, Cancelar o Derivar?</h3>
        <br>
        <div class=" text-start">
            <div class="container col- col-md-4 border p-3">
                <form  method= "POST" action="">{% csrf_token %}
                    {{form.as_p}}
                    <div class=" text-end">
                    <input type="submit" class="btn btn-primary" value="Guardar">
                    <div class=" text-start">
                </from>
            </div>
            
        </div>
    </div>
{%else%}
    <div class="px-4 py-5 my-5 text-center">
        <h3>Ingrese un Nro de Documento</h3>
        {%include 'buscador.html'%} 
    </div>
<div class="text-start">
    <div class="container col- col-md-8 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
            {% for message in messages %}
                <span id="errorMessage"> {{message}}</span><br><br>
            {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Turno</th>
                    <th scope="col">Nro Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Servicios</th>
                </tr>
                </thead>
                <tbody>
                    {%for item in turnos%}
                    <tr>
                        <td><input type="radio" value="{{item}}" name="turno_seleccionado" class="tabla-fila"> </td>
                        <td class="tabla-fila">{{item}} </td>
                        <td class="tabla-fila">{{item.cliente.numero_documento}} </td>
                        <td class="tabla-fila">{{item.cliente.nombre}} </td>
                        <td class="tabla-fila">{{item.cliente.apellido}} </td>
                        <td class="tabla-fila">{{item.cola.servicio.servicio_descripcion}} </td>
                        </input> 
                    </tr>
                    
                    {% empty %}
                    <p>No hay coincidencias.</p>
                    {%endfor%} 
                </tbody>
            </table>    
            <div class="text-end">                                      
                <input type="submit" class="btn btn-primary" value="Seleccionar">
            </div>
        </form>
    </div>
</div> 
    {% comment %} <form method= "POST" action ="" class="contenido-form-container2">{%csrf_token%}
      
           
            {% if messages %}
            {% for message in messages %}
                <span id="errorMessage"> {{message}}</span><br><br>
            {% endfor %}
            {% endif %} 
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th class="tabla-cabecera"></th>
                        <th class="tabla-cabecera">Turno</th>
                        <th class="tabla-cabecera">Nro Documento</th>
                        <th class="tabla-cabecera">Nombre</th>
                        <th class="tabla-cabecera">Apellido</th>
                        <th class="tabla-cabecera">Servicio</th>
                    </tr>
                </thead>
                <tbody>
        
                    {%for item in turnos%}
                    <tr>
                        <td><input type="radio" value="{{item}}" name="turno_seleccionado" class="tabla-fila"> </td>
                        <td class="tabla-fila">{{item}} </td>
                        <td class="tabla-fila">{{item.cliente.numero_documento}} </td>
                        <td class="tabla-fila">{{item.cliente.nombre}} </td>
                        <td class="tabla-fila">{{item.cliente.apellido}} </td>
                        <td class="tabla-fila">{{item.cola.servicio.servicio_descripcion}} </td>
                        </input> 
                    </tr>
                    
                    {% empty %}
                    <p>No hay coincidencias.</p>
                    {%endfor%} 
                        
                </tbody>   
            </table> 
            <button id="miboton" class="primary-button">Seleccionar</button>
      
                                               

        
      
    </form> {% endcomment %}
{%endif%} 
{%endblock contenido%}
