{% extends "base.html" %}
{%block contenido%}
{% load static %}
<div class="px-4 py-5 my-5 text-center ">
  
</div>
<div class="px-4 py-5 my-5 text-center ">

<div class="container text-center  ">
    
    <div class="row">
        <div class="col align-self-center text-center ">
        </div>
        <div class="col align-self-center text-center ">
    
            <img class="d-block mx-auto mb-4" src="{% static '/img/turno.png' %}" alt="" width="82" height="67">
            <h1 class="display-6 fw-bold text-body-emphasis">Turno LLamado</h1>
                    <form  method= "POST" action="">{% csrf_token %}
                            {% if turno_llamado %}
                                <input type="submit" class="btn btn-light btn-lg border" name="turno" value="{{turno_llamado}}" disable 
                                style="--bs-btn-padding-y: 3.5rem; --bs-btn-padding-x: 7rem; --bs-btn-font-size: 2.55rem;">
                            {%else%}
                                <input type="submit" class="btn btn-light btn-lg border" name="turno" value="---" disable 
                                style="--bs-btn-padding-y: 3.5rem; --bs-btn-padding-x: 7rem; --bs-btn-font-size: 2.55rem;">
                           
                            {% endif %}
                    </from>
        </div>
        <div class="col align-self-center text-center ">
            
            <img class="d-block mx-auto mb-4" src="{% static '/img/turno.png' %}" alt="" width="82" height="67"> 
            <h1 class="display-6 fw-bold text-body-emphasis">Turno Siguiente</h1>
                <div class=" text-center">
                        <input type="submit" class="btn btn-light btn-lg border" name="turno" value="{{turno_siguiente}}" disable 
                        style="--bs-btn-padding-y: 3.5rem; --bs-btn-padding-x: 7rem; --bs-btn-font-size: 2.55rem;">
                </div>       
        </div>
        <div class="col align-self-center text-center ">
        </div>
    </div>
</div>
 <div class="px-4 py-0 my-5 text-center ">
    {% if n == 1  %}
        <div class="btn-group" role="group" aria-label="Basic example">
                <input type="submit" class="btn btn-primary" value="Abandonado" name="abandonado"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.55rem;">
                <input type="submit" class="btn btn-primary" value="Atendido" name="atendido"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.55rem;">
        </div>
    {% else %}
            {% if turno_siguiente != "---" %}
                <input type="submit" class="btn btn-primary btn-lg " value="LLamar" name="llamado" 
                 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.55rem;">
            {% endif %}
    {% endif %}
</div>  
</div>
{%endblock contenido%}

