
{% extends "base.html" %}
{%block contenido%}
{% load static %}

<div class="px-4 py-5 my-5 text-center">
    <h3 >Indique un Servicio</h3>
    {%include 'buscador.html'%} 
</div>

<div class="text-start">
    <div class="container col- col-md-4 border p-3">
 <form method= "POST" action ="" >{%csrf_token%}
    {% if messages %}
    {% for message in messages %}
        <span id="errorMessage"> {{message}}</span><br><br>
    {% endfor %}
    {% endif %}
    <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Servicios</th>
          </tr>
        </thead>
        <tbody>
            {%for item in servicio%}
            <tr>
                <td>
                    <input type="radio" value="{{item}}" name="servicio_seleccionado">
                </td>
                <td>
                    {{item}}
                </td>
                </input> 

            </tr>
            
            {% empty %}
            <p>No hay coincidencias.</p>
            {%endfor%}
        </tbody>
      </table>    
    <div class="text-end">                                      
        <input type="submit" class="btn btn-primary" value="Seleccionar">
    </div>
</form>
</div>
</div>    
{%endblock contenido%}
