<a href= "{%url 'carga_datos_cliente' %}">
 carga cliente
</a>
</a>
<a href= "{%url 'busqueda_cliente' %}">
   Asignar turno
</a>
{% comment %} <a href= "{%url 'ver_cola' %}">
    Ver turnos
 </a>  {% endcomment %}
<a href= "{%url 'filtrar_servicios' 'atender' %}">
    Atender de acuerdo al servicio
</a>  
<a href= "{%url 'filtrar_servicios' 'ver_cola' %}">
   
   Ver cola de acuerdo al servicio
</a> 
<a href= "{%url 'cancelar_o_derivar'  %}">
   
   Cancelar Turno
</a> 

<a href="{%url 'cerrar'  %}">
   <button class="btn btn-outline-success " type="submit" style="font-size: 15pt;  margin: .1em;" >Salir</button>
 </a>
