
{% extends "base.html" %}
{%block contenido%}
{% load static %} 
<div class="px-2 py-2 my-3 text-center">

</div>
<div class="col align-self-center text-center ">
    <h1 class="display-6 fw-bold text-body-emphasis">En Turno</h1>
    {% for item in en_turno %}
        <input type="submit" class="btn btn-light btn-lg border" name="turno" value="{{item}}" disable 
        style="--bs-btn-padding-y: 3.5rem; --bs-btn-padding-x: 7rem; --bs-btn-font-size: 2.55rem;"> 
    {% empty %}
        <input type="submit" class="btn btn-light btn-lg border" name="turno" value="---" disable 
        style="--bs-btn-padding-y: 3.5rem; --bs-btn-padding-x: 7rem; --bs-btn-font-size: 2.55rem;">
    {%endfor%}
    

</div>
<div class="px-2 py-2 my-3 text-center">
    <h3 >Turnos</h3>
</div>

<div class="text-center">
    <div class="container col- col-md-9 p-3">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >En Espera</th>
                <th scope="col" ></th>
                <th scope="col" >Llamados</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                    <th scope="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="table-primary">Nro Turno</th>
                                <th scope="col" class="table-primary">Prioridad</th>
                                <th scope="col" class="table-primary"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for index, item in cola %}
                                <tr>
                                    <td>{{index}} </td>
                                    <td>{{item}} </td>
                                </tr> 
                                {% empty %}
                                <tr>
                                    <td>---</td>
                                    <td>---</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </th>
                    <td></td>
                    <th>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope= "col" class="table-primary">Nro Turno</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                                {% for item in cola_atendidos %}
                                    <tr>
                                        <td>{{item}} </td>
                                    </tr> 
                                {% empty %}
                                    <tr>
                                        <td>---</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </th>
              </tr>
            </tbody>
          </table>   

</div>
</div>    
{%endblock contenido%}
